.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(47, 154, 255);
  border: 1px solid rgb(61, 140, 214);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgb(47, 154, 255);
  border-color: rgb(61, 140, 214);
}
